@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <a href="/Home/CrawlCod?cod=101">Crawl 101</a>
        <a href="/Home/CrawlCod?cod=172.222.1">Crawl 172.222.1</a>
    </div>
</div>
